@import url(http://fonts.googleapis.com/css?family=Roboto);
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white; /* Cor do texto no cabeçalho */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* Garante que o cabeçalho esteja sempre na parte superior */
}


.introducao {
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 400px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}
.logo {
    width: 50px; 
    height: 60px;
    cursor:pointer
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-nav a:hover {
    color: #ff0000;
}

/* Estilos para a seção parallax */
.parallax {
    background-image: url('https://i.makeagif.com/media/2-14-2023/vhAZhm.gif'); /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    z-index: -1;
}

/* Estilos para o fundo parallax */
.parallax-bg {
    position: relative;
    background-color: #f8f8f8; /* Cor de fundo de fallback caso a imagem não seja carregada */
    overflow: hidden;
}

/* Estilos para o conteúdo do site */
/* Adicione margem superior para evitar que o conteúdo seja oculto pelo fundo parallax */
/* Ajuste conforme necessário */

body {
    margin-top: 400px; /* Ajuste essa margem conforme necessário para o tamanho do seu header */
}

/* Estilos para o seu header (opcional) */
/* Adicione estilos personalizados ao seu header, se necessário */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 90px; /* Espaço de preenchimento para acomodar o cabeçalho fixo */
}


#imagem-container {
    max-width: 600px; /* Defina a largura máxima para o container do carrossel */
    margin: 0 auto; /* Centralize horizontalmente */
}

.carousel-inner img {
    max-width: 100%; /* Faça as imagens ocuparem a largura máxima do container */
    height: auto; /* Mantenha a proporção original da imagem */
}

.services{
    padding-top: 50px;
}

.imagepython{
    width: 100px;
    height: auto;
    cursor: pointer;
    padding:50px;
}

.imagedelphi{
    width: 500px;
    height: auto;
    cursor: pointer;
    padding:50px;
}

.imagehtml{
    width: 100px;
    height: auto;
    cursor:pointer;
}

/* Estilize o footer */
footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    padding: 20px 0; /* Espaçamento interno no footer */
}

.footer-container {
    max-width: 1200px; /* Largura máxima do container do footer */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    text-align: center; /* Centraliza o conteúdo do footer */
}

.footer-content {
    font-size: 14px; /* Tamanho da fonte do texto do footer */
}

/* Estilize o campo de e-mail */
.subscribe input[type="email"] {
    padding: 10px; /* Espaçamento interno do campo de e-mail */
    width: 250px; /* Largura do campo de e-mail */
    margin-right: 10px; /* Espaçamento à direita do campo de e-mail */
    border: none; /* Remove a borda padrão do campo */
}

/* Estilize o botão */
.subscribe button {
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: #eef0f1; /* Cor de fundo do botão */
    color: #000000; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Transforma o cursor em uma mãozinha ao passar sobre o botão */
}

/* Estilize o botão ao passar o mouse sobre ele */
.subscribe button:hover {
    background-color: #ff0000; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilos para o botão "Voltar ao Topo" */
#topButton {
    display: none; /* Esconde o botão inicialmente */
    position: fixed; /* Define a posição fixa */
    bottom: 20px; /* Distância do botão a partir do fundo da página */
    right: 20px; /* Distância do botão a partir da direita da página */
    background-color: #ffffff; /* Cor de fundo do botão */
    color: #333333; /* Cor do ícone do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 50%; /* Torna o botão circular */
    cursor: pointer; /* Transforma o cursor em uma mãozinha ao passar sobre o botão */
    font-size: 24px; /* Tamanho do ícone do botão */
}

/* Estilos para o botão "Voltar ao Topo" ao passar o mouse sobre ele */
#topButton:hover {
    background-color: #ff0000; /* Cor de fundo do botão ao passar o mouse */
}

