@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: auto;
    padding: 0;
}

h1 {
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px; 
    height: auto;
    cursor:pointer
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-nav a:hover {
    color: #ff0000;
}

.imagem-container img {
  display: none; /* Oculta todas as imagens inicialmente */
}

.imagem-container img.active {
  display: block; /* Mostra a imagem ativa */
}


/* Estilize o footer */
footer {
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto no footer */
    padding: 20px 0; /* Espaçamento interno no footer */
}

.footer-container {
    max-width: 1200px; /* Largura máxima do container do footer */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    text-align: center; /* Centraliza o conteúdo do footer */
}

.footer-content {
    font-size: 14px; /* Tamanho da fonte do texto do footer */
}

/* Estilize o campo de e-mail */
.subscribe input[type="email"] {
    padding: 10px; /* Espaçamento interno do campo de e-mail */
    width: 250px; /* Largura do campo de e-mail */
    margin-right: 10px; /* Espaçamento à direita do campo de e-mail */
    border: none; /* Remove a borda padrão do campo */
}

/* Estilize o botão */
.subscribe button {
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: #eef0f1; /* Cor de fundo do botão */
    color: #000000; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Transforma o cursor em uma mãozinha ao passar sobre o botão */
}

/* Estilize o botão ao passar o mouse sobre ele */
.subscribe button:hover {
    background-color: #ff0000; /* Cor de fundo do botão ao passar o mouse */
}

/* Estilos para o botão "Voltar ao Topo" */
#topButton {
    display: none; /* Esconde o botão inicialmente */
    position: fixed; /* Define a posição fixa */
    bottom: 20px; /* Distância do botão a partir do fundo da página */
    right: 20px; /* Distância do botão a partir da direita da página */
    background-color: #ffffff; /* Cor de fundo do botão */
    color: #333333; /* Cor do ícone do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 50%; /* Torna o botão circular */
    cursor: pointer; /* Transforma o cursor em uma mãozinha ao passar sobre o botão */
    font-size: 24px; /* Tamanho do ícone do botão */
}

/* Estilos para o botão "Voltar ao Topo" ao passar o mouse sobre ele */
#topButton:hover {
    background-color: #ff0000; /* Cor de fundo do botão ao passar o mouse */
}

